## Dataset preaparation

#### Import necessary packages

In [179]:
import numpy as np
import pandas as pd

#### Import Data form csv

In [180]:
# Define the paths to the files to import
text='/home/antonio/code/pollypineapple1/FED-Predictor/raw_data/Fed_Scrape-2015-2023.csv'
rates='/home/antonio/code/pollypineapple1/FED-Predictor/raw_data/US Fed Rate.csv'

In [181]:
# Import files
text_df=pd.read_csv(text)
rates_df=pd.read_csv(rates)

#### Check the data

In [182]:
text_df.head()

,Unnamed: 0,Date,Type,Text
0,0,20230412,0,The Federal Reserve on Wednesday released the ...
1,1,20230412,0,The minutes for each regularly scheduled meeti...
2,2,20230412,0,The minutes can be viewed on the Board's website.
3,3,20230412,0,"For media inquiries, e-mail [email protected] ..."
4,4,20230412,0,Minutes of the Federal Open Market Committee\r...

In [183]:
rates_df.head()

   Release Date   Time Actual Forecast Previous
0  Nov 01, 2023  13:00  5.50%    5.50%    5.50%
1  Sep 20, 2023  13:00  5.50%    5.50%    5.50%
2  Jul 26, 2023  13:00  5.50%    5.50%    5.25%
3  Jun 14, 2023  13:00  5.25%    5.25%    5.25%
4  May 03, 2023  13:00  5.25%    5.25%    5.00%

In [184]:
text_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9974 entries, 0 to 9973
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9974 non-null   int64
 1   Date        9974 non-null   int64
 2   Type        9974 non-null   int64
 3   Text        9974 non-null   object
dtypes: int64(3), object(1)
memory usage: 311.8+ KB

In [185]:
rates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Release Date  201 non-null    object
 1   Time          201 non-null    object
 2   Actual        201 non-null    object
 3   Forecast      201 non-null    object
 4   Previous      201 non-null    object
dtypes: object(5)
memory usage: 8.0+ KB

#### Remove useless columns and format relevant ones

In [186]:
columns_to_keep = ['Release Date', 'Actual']
rates_df=rates_df[columns_to_keep]
rates_df=rates_df.rename(columns = {'Release Date' : 'date'})

In [187]:
rates_df['date'] = rates_df['date'].astype(str)

In [188]:
rates_df.head()

           date Actual
0  Nov 01, 2023  5.50%
1  Sep 20, 2023  5.50%
2  Jul 26, 2023  5.50%
3  Jun 14, 2023  5.25%
4  May 03, 2023  5.25%

Conversion to datetime

In [189]:
rates_df['date'] = pd.to_datetime(rates_df['date'], format = '%b %d, %Y')

In [190]:
rates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    201 non-null    datetime64[ns]
 1   Actual  201 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 3.3+ KB

In [191]:
rates_df=rates_df.rename(columns={'Actual': 'rate'})

In [192]:
rates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    201 non-null    datetime64[ns]
 1   rate    201 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 3.3+ KB

In [193]:
rates_df.head()

        date   rate
0 2023-11-01  5.50%
1 2023-09-20  5.50%
2 2023-07-26  5.50%
3 2023-06-14  5.25%
4 2023-05-03  5.25%

In [194]:
text_df['Date']=pd.to_datetime(text_df['Date'], format='%Y%m%d')
text_df=text_df.rename(columns={'Date': 'date'})
text_df=text_df.rename(columns={'Text': 'text'})

In [195]:
text_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [196]:
text_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9974 entries, 0 to 9973
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    9974 non-null   datetime64[ns]
 1   Type    9974 non-null   int64
 2   text    9974 non-null   object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 233.9+ KB

#### Merge the two dataframes based on Date

Sort by dates

In [197]:
sorted_rates=rates_df.sort_values(by='date')
sorted_text=text_df.sort_values(by='date')

In [198]:
sorted_rates.head()

          date   rate
200 1990-07-13  8.00%
199 1990-10-29  7.75%
198 1990-11-14  7.50%
197 1990-12-07  7.25%
196 1990-12-19  7.00%

In [199]:
sorted_text.head()

           date  Type                                               text
9973 2015-01-07     0  \r\n       For media inquiries, call 202-452-2...
9969 2015-01-07     0  \r\n       The Federal Reserve Board and the F...
9972 2015-01-07     0  \nMinutes of the Federal Open Market Committee...
9971 2015-01-07     0  \r\n       FOMC minutes can be viewed on the B...
9970 2015-01-07     0  \r\n       The minutes for each regularly sche...

Merge based on date. >> Direction backward << to ensure rates decisions are paired with previous text

In [200]:
df_merged = pd.merge_asof(sorted_text, sorted_rates, on='date')
df_merged.head()

        date  Type                                               text   rate
0 2015-01-07     0  \r\n       For media inquiries, call 202-452-2...  0.25%
1 2015-01-07     0  \r\n       The Federal Reserve Board and the F...  0.25%
2 2015-01-07     0  \nMinutes of the Federal Open Market Committee...  0.25%
3 2015-01-07     0  \r\n       FOMC minutes can be viewed on the B...  0.25%
4 2015-01-07     0  \r\n       The minutes for each regularly sche...  0.25%

In [201]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9974 entries, 0 to 9973
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    9974 non-null   datetime64[ns]
 1   Type    9974 non-null   int64
 2   text    9974 non-null   object
 3   rate    9974 non-null   object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 311.8+ KB

## Data Preprocessing

#### Import necessary packages

In [202]:
import string
import re

import nltk
#punkt_tab is needed over punkt because of working with tabular data (dataframe)
nltk.download('punkt_tab')
from nltk.tokenize import word_tokenize

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package punkt_tab to
[nltk_data]     /home/antonio/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

### Text Processing

#### Cleaning

In [203]:
# Remove all the whitespaces at the beginning and the end of a string
# strip()
df_cleaned = df_merged.copy()
df_cleaned['text']=df_merged['text'].str.strip()

In [204]:
# Text modeling algorithms are case-sensitive
# lower()
df_cleaned['text']=df_cleaned['text'].str.lower()

In [205]:
# Remove numbers and symbols to ensure better text clustering and keyphrases collection
# replace(r'[^a-zA-Z\s]')
# a-zA-Z: Matches all lowercase (a-z) and uppercase (A-Z) alphabetic characters
# \s: Matches any whitespace character (space, tab, newline)
# [^...]: Matches anything NOT included in the brackets. This removes everything that isn't a letter or whitespace
df_cleaned['text'] = df_cleaned['text'].str.replace(r'[^a-zA-Z\s]', "", regex=True)

In [206]:
df_cleaned['text'].head(20)

0                             for media inquiries call
1     the federal reserve board and the federal open...
2     minutes of the federal open market committee\r...
3     fomc minutes can be viewed on the boards websi...
4     the minutes for each regularly scheduled meeti...
5                             for media inquiries call
6                              the minutes are attached
7     the federal reserve board on tuesday released ...
8     iv subject to reasonable limitations on the am...
9                               b the selected bank may
10    i reject bids that as determined in its sole d...
11    ii accept treasury securities or cash as colla...
12    iii accept agency securities as collateral onl...
13    a the selected bank for the soma to undertake ...
14    iii subject to reasonable limitations on the t...
15    b any federal reserve bank that maintains cust...
16    i undertake repo transactions in eligible secu...
17    ii undertake intraday reverse repo transaction...
18     in order to ensure the effective conduct of o...
19    ii at a minimum lending fee consistent with th...
Name: text, dtype: object

#### Tokenizing

In [207]:
df_tokenized=df_cleaned.copy()

In [208]:
df_tokenized['text']=df_tokenized['text'].apply(word_tokenize)

In [209]:
df_tokenized['text'].head()

0                        [for, media, inquiries, call]
1    [the, federal, reserve, board, and, the, feder...
2    [minutes, of, the, federal, open, market, comm...
3    [fomc, minutes, can, be, viewed, on, the, boar...
4    [the, minutes, for, each, regularly, scheduled...
Name: text, dtype: object

#### Stopwords

### Do i remove stopwords in this case?

In [210]:
# removes defined stopwords
#   uses nltk.corpus to define stopwords
#   iterates over each word (alredy tokenized) to filter out stopwords

def remove_stopwords(tokens):
    stop_words = set(stopwords.words('english'))
    return [word for word in tokens if word.lower() not in stop_words]

In [211]:
df_stopwords = df_tokenized.copy()

In [212]:
df_stopwords['text'] = df_stopwords['text'].apply(remove_stopwords)

In [213]:
# Check for lenght differences
tokenized_lenght = df_tokenized['text'].apply(len)
stopwords_lenght = df_stopwords['text'].apply(len)

print('Tokenized Lenght: ', tokenized_lenght.sum())
print('Stopwords Lenght: ', stopwords_lenght.sum())

Tokenized Lenght:  647423
Stopwords Lenght:  408075

#### Lemmatizing

In [214]:
# lemmatizes tokenized words in a list
#   uses nltk.corpus to define stopwords
#   iterates over each word (alredy tokenized) to filter out stopwords

def lemmatize_tokens(tokens):
    lemmatizer = WordNetLemmatizer()
    return [WordNetLemmatizer().lemmatize(word) for word in tokens]

In [215]:
df_lemmatized=df_tokenized.copy()
df_lemmatized['text'] = df_lemmatized['text'].apply(lemmatize_tokens)

In [216]:
stopwords_lenght = df_tokenized['text'].apply(len)
lemmatized_length = df_lemmatized['text'].apply(len)

print('Original Lenght: ', stopwords_lenght.sum())
print('Lemmatized Lenght: ', lemmatized_length.sum())

Original Lenght:  647423
Lemmatized Lenght:  647423

In [217]:
# Check if lemmatization actually changed any tokens by comparing original and lemmatized text for the first row
print(f"Original Tokens (First Row): {df_tokenized['text'].iloc[0]}")
print(f"Lemmatized Tokens (First Row): {df_lemmatized['text'].iloc[0]}")

Original Tokens (First Row): ['for', 'media', 'inquiries', 'call']
Lemmatized Tokens (First Row): ['for', 'medium', 'inquiry', 'call']

### Vectorizing